body
	padding 0px

.font-bold
	font-weight bold
	
.font-lg
	font-size 4em
	
.font-md
	font-size 2em
	
.full-width
	width:100%
	
.container-fluid
	max-width 900px
	padding-top 20px
	padding-bottom 20px
	
#theList
	.container-fluid		
		#list
			background-color #f3f3f3
			border-top 1px solid #ddd
			padding 20px
			
			h1
				color #222 !important
				
			small
				display block
				font-size 14px
				a
					padding 8px 12px
					border 2px solid #222 
			
			.app
				border-bottom 1px solid #ddd
				padding 15px 0px
				
				a
					cursor pointer
				
				ul li a
					padding-left 30px
				
			#btn-container
				padding-top 20px
			
@media screen and (max-width 890px)
	.container-fluid
		padding-left 0px
		padding-right 0px
		
		#list
			small
				margin-bottom 20px
		
#theFooter
	margin-top 20px
	position relative
	bottom 0